@model IEnumerable<CMS.Web.Models.Customer>

@{
    ViewData["Title"] = "Search Customer";
}

<h2>Search Customer</h2>


<form>
    <p>
        @Html.DisplayNameFor(model => model.Dob): <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br />


<table class="table table-striped">
    <thead class="table-heading">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })*@

                    <a href="@Url.Action("Edit", "Customer", new { id = item.CustomerId } )">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>|
                    <a href="@Url.Action("Details", "Customer", new { id = item.CustomerId } )">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>|
                    <a onclick="Delete(@item.CustomerId, '@item.Name')" href="#">
                        <span class="glyphicon glyphicon-trash" style=" color:darkred; " aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(function () {
            var sucessMessage = '@TempData["SuccessMessage"]';
            if (sucessMessage != '') {
                alertify.success(sucessMessage);
            }
        });

        $(function () {
            alertify.defaults.theme.ok = "btn btn-success";
            alertify.defaults.theme.cancel = "btn btn-warning";
            //alertify.confirm().setting('modal', false);
        });
        function Delete(id, supNo) {
            alertify.confirm('Customer Delete!', 'Are you Sure to delete Customer [' + supNo + '] record?', function () {
                window.location.href = '@Url.Action("Delete", "Customer")/' + id;
            }, null);
        }
    </script>
}
